#benefits {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  text-align: center;
  padding: 2rem 0 2rem 0;
  background-image: url('../assets/pexels-kelly-3030272.jpg');
  background-size: cover;
}

#benefits-backdrop {
  height: auto;
  width: 100%;
  padding: 2rem 0 2rem 0;
  background-color: black;
  z-index: 2;
}

#benefits#benefits section {
  display: inline-block;
  height: 20rem;
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  color: black;
  background-color: #84b0fc;
}

#benefits#benefits section p {
  font-size: 1.2rem;
}

#benefits-holder {
  display: flex;
  justify-content: space-between;
}

#houses-img {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
