#features-holder {
  display: flex;
  height: auto;
  width: 100%;
}

#features {
  display: inline-block;
  height: auto;
  width: 50%;
  justify-content: left;
  padding: 2rem;
  background: rgb(10, 10, 10);
}

#features b {
  color: white !important;
}

#features p {
  color: #84b0fc !important;
}

#features-img-holder {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 50%;
}

#features-holder2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 100%;
}

#contract-img {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
  height: auto;
  width: auto;
  top: 5%;
  left: 30%;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

#arrow-down {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 45%;
  right: 49%;
  object-fit: cover;
}

#laptop-img {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
  height: auto;
  width: auto;
  bottom: 5%;
  left: 30%;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.explanation {
  font-size: 1.2rem;
  margin: 2rem 0;
  color: white;
}
