#features-holder {
  display: flex;
  height: auto;
  width: 100%;
}

#features {
  display: inline-block;
  height: auto;
  width: 50%;
  justify-content: left;
  padding: 2rem;
  background: rgb(10, 10, 10);
}

#features b {
  color: white !important;
}

#features p {
  color: #84b0fc !important;
}

#features-img-holder {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 50%;
}

#features-holder2 {
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
}

#contract-img {
  background: url('../assets/pexels-pixabay-48195.jpg');
  background-size: cover;
}

#handshake2-img {
  background: url('../assets/pexels-ketut-subiyanto-4963437 - Copy.jpg');
  background-size: cover;
}

#cash-img {
  background: url('../assets/pexels-pixabay-47344.jpg');
  background-size: cover;
}

#hybrid-img {
  background: url('../assets/pexels-luis-quintero-2471235.jpg');
  background-size: cover;
}

#contracts-header {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  background-color: rgb(10, 10, 10);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.explanation {
  font-size: 1.2rem;
  margin: 2rem 0;
  color: white;
}

.headline {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0 0 0 5em;
  background-color: rgb(10, 10, 10);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.headline-background {
  display: flex;
  height: auto;
  width: 50%;
  justify-content: space-between;
}

.img-background {
  display: inline-block;
  position: relative;
  height: auto;
  width: 50%;
}
