#problem-solution-holder {
  display: flex;
  height: auto;
  width: 100%;
}

#problem-solution {
  display: inline-block;
  height: auto;
  width: 50%;
  justify-content: left;
  padding: 2rem;
  background: rgb(27, 27, 27);
}

#problem-solution-img-holder {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 50%;
}

#problem-solution-img-holder2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 100%;
}

#houses-img {
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  height: auto;
  width: auto;
  margin: 5%;
  right: 5%;
  bottom: 0;
  border: solid 0.5em rgb(164, 92, 187);
  object-fit: cover;
  z-index: 3;
}

#houses2-img {
  position: absolute;
  max-width: 70%;
  max-height: 70%;
  height: auto;
  width: auto;
  margin: 5%;
  left: 0;
  bottom: 10%;
  border: solid 0.5em rgb(164, 92, 187);
  object-fit: cover;
  z-index: 2;
}

#houses3-img {
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  height: auto;
  width: auto;
  margin: 5%;
  left: 30%;
  right: 5%;
  top: 0;
  border: solid 0.5em rgb(164, 92, 187);
  object-fit: cover;
  z-index: 1;
}

#eye-catcher {
  font-size: 2rem;
  margin: 2rem 0;
  color: white;
}

.explanation {
  font-size: 1.2rem;
  margin: 2rem 0;
  color: white;
}
